<ion-header>
  <ion-toolbar>
    <ion-title>
      App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)='submit(personForm)' #personForm='ngForm'>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [(ngModel)]='form.name' name='name' #name='ngModel'></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Date of Birth</ion-label>
      <ion-datetime displayFormat="MM DD YY" [(ngModel)]='form.birthdate' name='birthdate' #birthdate='ngModel'>
      </ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Note</ion-label>
      <ion-textarea placeholder="Note" [(ngModel)]='form.note' name='note' #note='ngModel'></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]='form.gender' name='gender' #gender='ngModel'>
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-button type='submit'>Submit</ion-button>
  </form>
</ion-content>